*{
    margin: 0;
    padding: 0;
}
.one{
    width: 100%;
    height: 100%;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.headers{
    width: 450px;
    padding: 150px 449px;
    height: 350px;
    text-align: center;
    color: white;
    word-spacing: 6px;
    font-weight: bold;
}
.big{
    width: 500px;
    font-size: 3.5rem;
}
.para{
    margin: 12px;
    font-size: 18px;
}
.btn{
    background-color: rgba(255, 0, 0, 0.585);
    color: white;
    padding: 20px 40px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}
