*{
    margin: 0;
    padding: 0;
}
/*     font-family: 'Baloo Bhai 2', cursive;

    font-family: 'Permanent Marker', cursive;

    font-family: 'PT Sans', sans-serif;
    */
/*Section One*/
.one{
   font-family: 'Baloo Bhai 2', cursive;
    width: 100%;
    height: 100%;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.headers{
    width: 450px;
    padding: 150px 449px;
    height: 350px;
    text-align: center;
    color: white;
    word-spacing: 6px;
    font-weight: bold;
}
.big{
    width: 500px;
    font-size: 3.5rem;
}
.text{
    margin: 12px;
    font-size: 18px;
}
.btn{
    background-color: rgba(255, 0, 0, 0.585);
    color: white;
    padding: 20px 40px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}
/*Section Two*/
.two{
   font-family: 'PT Sans', sans-serif;
    margin: 100px 449px;
 text-align: center;
}
.headers-two{
    width: 450px;
    margin: 30px;
}
.big-two{
    font-size:3rem ;
    margin-bottom: 20px;
}
.taka{
   font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    justify-content: center;
}
.color{
    margin: 20px;
    padding: 32px;
    background-color: rgba(112,110,110, 0.093);
    color: rgb(21, 15, 15);
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.bg{
    background-color: rgba(255, 68, 0, 0.322);
    color: rgba(252, 18, 18, 0.953);
    border: 1px solid red;
    border-radius: 5px;
}
.amount{
   font-family: 'Baloo Bhai 2', cursive;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: rgba(186, 190, 193, 0.658);
}
/*Section three*/
.card-show{
   font-family: 'PT Sans', sans-serif;
    width: 450px;
    text-align: center;
    margin: 100px 449px;
 }
 .card{
   font-family: 'Baloo Bhai 2', cursive;
    box-shadow: 0 4px 8px 0 rgba(182, 162, 162, 0.2);
    transition: 0.3s;
    margin:2px 20px;
    padding: 10px;
    width: 35%;
    box-sizing: border-box;
    border-radius: 5px;
 }
 .card-container{
    margin: 0px 70px;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: row;
    box-sizing:border-box;
   
 }
 .card-icon{
    padding-top: 50px;
 
 }
 .card.des{
    text-align: center;
    padding: 10px;
 }
 .card-size{
    padding-top: 20px;
    font-size: 2rem;
 }
 .card-para{
    padding: 5px;
    font-size: 17px;
    text-align: justify;
 }
 ul li{
    list-style-position: inside;
 }
 .card-1{
    background-color: bisque;
 }
 .card-two{
    background-color: rgba(61, 130, 116, 0.465);
 }
 .card-three{
    background-color: rgb(228, 224, 218);
 } 
 /*Section four*/
 .my{
   font-family: 'PT Sans', sans-serif;
    width:500px;
    text-align: center;
    margin: 75px 449px;
 }
 .detail{
    width: 80%;
     margin: 24px 189px;
     font-size: 22px;
     text-align: center;
 }
 .flexion{
    margin: 0px 8px;
    display: flex;
    flex-direction: row;
    box-sizing:border-box;
 }
 .flexion img{
    width: 425px;
    margin: 0px 10px;
 }
 /*Section five*/
 .five{
   font-family: 'Baloo Bhai 2', cursive;
    margin:100px 449px;
 }
 .update{
    width:500px;
    text-align: center;
    margin-top: 30px;
 }
 .emaill{
    background-color: bisque;
    width:450px;
    height: 100px;
    text-align: center;
    margin:35px 25px;
  padding: 12px;
 }
 .in{
    background-color: rgba(186, 172, 172, 0.554);
    border: none;
    color: rgb(192, 187, 187);
    padding: 12px;
    margin-top: 35px;
    width: 200px;
 }
 .email-btn{
    background-color: rgb(252, 19, 19);
    color: white;
    border: none;
    padding: 12px;
    margin-top: 20px;
    margin-right: 26px;
    width: 100px; 
    cursor: pointer;
 }
 .down{
   font-family: 'Permanent Marker', cursive;
   width: 100%;
   height: 150px;
   text-align: center;
   background-color: black;
   padding-top: 60px;
 }
 .red{
   color: red;
 }
 .white{
   padding-top: 30px;
   color: white;
 }