*{
    margin: 0;
    padding: 0;
}
/*Section One*/
.one{
    width: 100%;
    height: 100%;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.headers{
    width: 450px;
    padding: 150px 449px;
    height: 350px;
    text-align: center;
    color: white;
    word-spacing: 6px;
    font-weight: bold;
}
.big{
    width: 500px;
    font-size: 3.5rem;
}
.text{
    margin: 12px;
    font-size: 18px;
}
.btn{
    background-color: rgba(255, 0, 0, 0.585);
    color: white;
    padding: 20px 40px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}
/*Section Two*/
.two{
    margin: 100px 449px;
 text-align: center;
}
.headers-two{
    width: 450px;
    margin: 30px;
}
.big-two{
    font-size:3rem ;
    margin-bottom: 20px;
}
.taka{
    display: flex;
    justify-content: center;
}
.color{
    margin: 20px;
    padding: 32px;
    background-color: rgba(112,110,110, 0.093);
    color: rgb(21, 15, 15);
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.bg{
    background-color: rgba(255, 68, 0, 0.322);
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}
.amount{
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: rgba(186, 190, 193, 0.658);
}